*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  background: rgb(238, 174, 202);
  background: #000000a6;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.calc-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.content {
  border: 6px solid black;
  padding: 30px;
  background-color: white;
}

input#display {
  width: 100%;
  appearance: none;
  background: lavender;
  /* border: 6px solid #0e0e0d; */
  border-radius: 10px;
  height: 4rem;
  border: none;
  margin-bottom: 1rem;
  font-size: 35px;
  text-align: right;
  padding-right: 8px;
}

button.btn {
  appearance: none;
  width: 100%;
  /* border: 1px solid black; */
  height: 100%;
  padding: 15px;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: none;
  border-right: none;
  font-size: 25px;
}

.box.box17 {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
}

button.btn.btnNew {
  border-right: 2px solid black;
}

button#btn17,
button#btn18,
button#btn19 {
  border-bottom: 2px solid black;
}
