*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  background: rgb(165 165 165 / 57%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.calc-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.content {
  background-color: black;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 15px;
  border-radius: 22px;
  width: 300px;
  max-width: 90%;
}

/* input#display {
  width: 100%;
  appearance: none;
  background: lavender;
  
  border-radius: 10px;
  height: 4rem;
  border: none;
  margin-bottom: 1rem;
  font-size: 35px;
  text-align: right;
  padding-right: 8px;
} */
/* border: 6px solid #0e0e0d; */
button.btn.btnNew.btnD2 {
  color: white;
  background-color: #f99f0b;
}
button.btn {
  appearance: none;
  width: 100%;
  /* border: 1px solid black; */
  height: 100%;
  padding: 10px;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: none;
  border-right: none;
  font-size: 30px;
  border-radius: 50%;
}
button.btn.btnD {
  background-color: #605a5a;
  color: white;
}
button.btn.btn123 {
  background-color: #a5a5a5;
}
button#btn17 {
  border-radius: 36px;
}

.box.box17 {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
}

button.btn.btnNew {
  border-right: 2px solid black;
}

button#btn17,
button#btn18,
button#btn19 {
  border-bottom: 2px solid black;
}

.calc-display {
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  padding-right: 10px;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  min-height: 7.3rem;
  margin-bottom: 1rem;
}

.previous-operand {
  color: white;
  font-size: 1.7rem;
  font-weight: lighter;
}

.current-operand {
  color: white;
  font-size: 2.7rem;
  font-weight: lighter;
}

.box {
  padding: 3px;
}
